@import "./common.scss";
@import "./settings.scss";

#left, #right {
	height: 100%;
}

#left {
	width: 320px;
	border-right: 1px solid $light-gray;
	float: left;
}

#right {
	width: calc(100% - 320px);
	margin-left: 320px;
}

#right-top, #right-bottom {
	width: 100%;
	box-sizing: border-box;
}

#right-top {
	height: 120px;
	border-bottom: 1px solid $light-gray;
}

#right-bottom {
	height: calc(100% - 120px);
	position: relative;
}

#chat-messages {
	position: absolute;
	bottom: 0px;
	padding-top: -5px;
	width: 100%;
	max-height: 100%;
	overflow-y: auto;
	box-sizing: border-box;
}

#messages {
	width: 100%;
}

#chat-input-box {
	width: 100%;
	position: absolute;
	bottom: 0px;
	padding: 15px;
	box-sizing: border-box;
}

#chat-input-more, .message-profile {
	width: 54px;
	height: 54px;
	border-radius: 50%;
	background-color: $light-gray;
	display: inline-block;
	float: left;
	margin-right: 5px;
}

.message-profile, .message-bubble {
	display: inline-block;
}

#chat-hide-bottom {
	position: absolute;
	left: 1px;
	bottom: 0px;
	width: calc(100% - 15px - 1px);
	height: 35px;
	background-color: #fff;
}

.message {
	display: inline-block;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
	position: relative;
	width: 100%;
}

.message-bubble {
	max-width: calc(100% - 54px - 5px);
	box-sizing: border-box;
	word-break: break-word;
	padding: 15px;
	padding-left: 16px;
}

.mine-true {
	background-color: $light-gray;
	z-index: 2;
}

.mine-false {
	background-color: $primary-color;
	color: #fff;
}

#chat-input, .message-bubble {
	border-radius: 15px;
	border-bottom-left-radius: 5px;
	font-size: 18px;
	box-sizing: border-box;
	position: relative;
}

#chat-input {
	width: calc(100% - 54px - 5px);
	border: 1px solid $light-gray;
	display: inline-block;
	padding: 15px;
}

#chat-input:focus {
	background-color: $light-gray;
}
